.nav-buttons{
    display: flex;
    padding: 1vmax;
    align-items: flex-start;
    flex-direction: column;
    width:15%;
    height: 100vh;
    padding: 3vmax;
    background-color: black;
}
.nav-buttons a{
    text-align: left;
    color: white;
    text-decoration: none;
    margin-top: 1vmax;
    font-size: 20px;
    padding: 1vmax;
}
