.contest-lists{
    position: absolute;
    margin-top: -43vmax;
    margin-left: 19vmax;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 80%;
    height: 86vh;
 

}