.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: linear-gradient(90deg, #FBE309, #fcf6c0);
}
 
.hero-content {
    max-width: 50%;
    color:rgb(41, 35, 29);
}
 
.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color:#FFFFFF;
}
 
.hero p {
    font-size: 20px;
    margin-bottom: 40px;
}
 
.cta-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
 
.cta-button:hover {
    background-color: #0056b3;
}
 
.hero-image img {
    max-width: 100%;
    height: auto;
    animation: animation 4s ease-out infinite;
}
 
.challenges {
    text-align: center;
    padding: 50px 20px;
}
 
.challenges h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: black;
}
 
.event-card {
    display: inline-block;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin: 0 auto;
}
 
.event-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}
 
.event-details {
    padding: 20px;
}
 
.event-details h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
 
.event-details p {
    font-size: 16px;
    margin-bottom: 10px;
}
 
.register-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
 
.register-button:hover {
    background-color: #218838;
}
 
 
#main_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
   
}
.card_items{
    margin: 1.5vmax;
}
@keyframes animation {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(5px); 
    }
    100% {
        transform: translateY(-10px); 
    }
  }