:root {
    --theme-color: #FBE309; /* Default theme color */
    --text-color: #0F3DDE; /* Text color for specific elements */
  }
 
  body {
    background-color: var(--theme-color); /* Apply theme color to body background */
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    scroll-behavior: smooth;
}
