:root {
    --theme-color: #FBE309; /* Default theme color */
    --text-color: #0F3DDE; /* Text color for specific elements */
  }
 
  body {
    background-color: var(--theme-color); /* Apply theme color to body background */
  }
*{
    scroll-behavior: smooth;
}
